<h2>Employee Registration Reactive</h2>

<form [formGroup]="employeeForm!" (ngSubmit)="onSubmit()">

    <div class="mb-3">
        <label for="name">name:</label>
        <input id="name" formControlName="name" class="form-control"/>
        <div class="text-danger" *ngIf="employeeForm?.get('name')?.invalid && employeeForm?.get('name')?.touched">
            <div *ngIf="employeeForm?.get('name')?.errors?.['required']">name is required</div>
            <div *ngIf="employeeForm?.get('name')?.errors?.['minlength']">name can not have less then 3 characters</div>
            <div *ngIf="employeeForm?.get('name')?.errors?.['noNumbers']">name can not contain numbers</div>
        </div>
    </div>

    <div class="mb-3">
        <label for="email">email:</label>
        <input id="email" formControlName="email" class="form-control"/>
        <div class="text-danger" *ngIf="employeeForm?.get('email')?.invalid && employeeForm?.get('email')?.touched">
            <div *ngIf="employeeForm?.get('email')?.errors?.['required']">email is required</div>
            <div *ngIf="employeeForm?.get('email')?.errors?.['email']">email invalid</div>
        </div>
    </div>

    <div class="mb-3">
        <label for="position">position:</label>
        <input id="position" formControlName="position" class="form-control"/>
        <div class="text-danger" *ngIf="employeeForm?.get('position')?.invalid && employeeForm?.get('position')?.touched">
            <div *ngIf="employeeForm?.get('position')?.errors?.['required']">position is required</div>
        </div>
    </div>


    <button type="submit" [disabled]="!employeeForm!.valid" class="btn btn-primary">Submit</button>
</form>